body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f2f2f2;
}

.container{
    width:400px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

h1{
    text-align:center;
}

input{
    width:70%;
    padding:10px;
}

button{
    padding:10px;
    cursor:pointer;
}

ul{
    list-style:none;
    padding:0;
}

li{
    display:flex;
    justify-content:space-between;
    background:#eee;
    margin-top:10px;
    padding:10px;
    border-radius:5px;
}

.excluir{
    color:red;
    cursor:pointer;
}